@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;line-height:inherit;letter-spacing:inherit;list-style:none;text-decoration:none;}
html {
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  color: black;
  padding: 1em;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
}

/* General Styles */
section {
  margin: 1em 0;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
  font-weight: bold;
}
/* End General Styles */

/* ----------- iPhone 6+ and Smaller ----------- */

/* Portrait and Landscape */
@media only screen and (max-width: 736px) { 
    body {
      background-color: #212121;
      color: white;
    }
}

/* ----------- End iPhone 6+ and Smaller ----------- */

/* Image Slider */
.image_slider {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-left: auto;
  margin-right: auto;
}
.image_slider::-webkit-scrollbar {
  display: none;
}
.image_slider.justified {
  justify-content: center;
}
.image_slider figure {
  width: calc(66.6% - 1em);
  height: auto;
  margin-right: 1em;
  border-radius: 1em;
  overflow: hidden;
  flex: 0 0 auto;
  position: relative;
}
.image_slider figure img {
  /* negative margin matches width amount over 100% / 2 */
  margin-left: -14%;
  width: 128%;
  height: auto;
}
@media screen and (min-width: 48em) and (max-width: 76em) {
  .image_slider figure {
    width: calc(40% - 1em);
    height: auto;
  }
}
@media screen and (min-width: 76em) and (max-width: 112em) {
  .image_slider figure {
    width: calc(22% - 1em);
    height: auto;
  }
}
@media screen and (min-width: 112em) {
  .image_slider figure {
    width: calc(22em - 1em);
    height: auto;
  }
}
/* End Image Slider */