/* ------------------------------------------------------------ *\
  Mobile
\* ------------------------------------------------------------ */

.img-parallax {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0 1em 1em;
  margin-bottom: 2em;
  overflow-x: scroll;
}
.img-parallax::-webkit-scrollbar {
  display: none;
}
.img-parallax.justified {
  justify-content: center;
}
.img-parallax figure {
  width: calc(66.6% - 1em);
  margin-right: 1em;
  overflow: hidden;
  flex: 0 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  position: relative;
  background-color: white;
}
.item-grid figure {
  position: relative;
}
.img-parallax .aspect-ratio {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
}
.img-parallax figure img {
  /* negative stretch child larger then parent for parallax effect */
  position: absolute;
  width: 128%;
  height: 128%;
  top: -14%;
  left: -14%;
}
.img-parallax .iframe {
  background-color: #272922; 
}
#item-grid .img-parallax {
  background-color: unset;
}
#item-grid .img-parallax figcaption {
  margin: 0.5em 1em 1em 0;
  text-align: right;
}
/* ----------- Full Height Mobile Column ----------- */
#category-results .img-parallax {
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
}
#category-results .img-parallax figure {
  width: 100%;
  margin-right: 0;
  border-radius: 0;
  border: 1px solid #BCBCBC;
}
#category-results .img-parallax figcaption {
  margin-bottom: 4em;
}
#category-results .img-parallax figure img {
  transition: all 200ms;
}
.img-parallax figure img {
  /* negative stretch child larger then parent for parallax effect */
  top: 0%;
}
/* ----------- End Full Height Mobile Column ----------- */

/* ------------------------------------------------------------ *\
  End Mobile
\* ------------------------------------------------------------ */


/* ------------------------------------------------------------ *\
  Begin Desktop
\* ------------------------------------------------------------ */

@media only screen and (min-width: 767px) {
  .img-parallax {
    height: 100%;
    overflow-x: visible;
    overflow-y: scroll;
    flex-direction: column;
    padding: 3em;
  }
  .img-parallax::-webkit-scrollbar {
    display: none;
  }
  .img-parallax figure {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 2em;
    flex: 0 0 auto;
  }
  .img-parallax figure {
    /* Height calc via JS */
  }
  .img-parallax figure img {
    /* negative stretch child larger then parent for parallax effect */
    width: 128%;
    height: 128%;
    top: 0%;
    left: -14%;
  }
}

/* ------------------------------------------------------------ *\
  End Begin Desktop
\* ------------------------------------------------------------ */