/* ----------- Image Slider ----------- */
/* Image Slider Mobile */
.img-parallax {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0 1em 1em;
  margin-bottom: 2em;
}
.img-parallax::-webkit-scrollbar {
  display: none;
}
.img-parallax.justified {
  justify-content: center;
}
.img-parallax figure {
  width: calc(66.6% - 1em);
  margin-right: 1em;
  overflow: hidden;
  flex: 0 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  position: relative;
}
.item-grid figure {
  position: relative;
}
.img-parallax .aspect-ratio {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
}
.img-parallax figure img, .img-parallax figure iframe {
  /* negative stretch child larger then parent for parallax effect */
  position: absolute;
  top: -14%;
  left: -14%;
  bottom: -14%;
  right: -14%;
}
.img-parallax .iframe {
  background-color: #272922; 
}
.iframe-click {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}
#item-grid .img-parallax {
  background-color: unset;
}
#item-grid .img-parallax figcaption {
  margin: 0.25em 1em 1em 0;
  text-align: right;
}

/* Image Slider Full Height Mobile Column */

#category-results .img-parallax {
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}
#category-results .img-parallax figure {
  width: 100%;
  margin-right: 0;
  border-radius: 0;
  border: 1px solid #BCBCBC;
}
#category-results .img-parallax figcaption {
  margin-bottom: 2em;
}
#category-results .img-parallax figure img {
  transition: all 200ms;
}
/* End Image Slider Full Height Mobile Column */

/* End Image Slider Mobile */

/* Begin Image Slider Desktop */
@media only screen and (min-width: 767px) {
  .img-parallax {
    overflow-x: visible;
    overflow-y: scroll;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
  }
  .img-parallax::-webkit-scrollbar {
    display: none;
  }
  .img-parallax figure {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 1em;
    flex: 0 0 auto;
  }
  .img-parallax figure img {
    /* Height calc via JS */
  }
}
/* End  Image Slider Desktop */


/* ----------- End Image Slider ----------- */