@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400i,700');
* {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;line-height:inherit;letter-spacing:inherit;list-style:none;text-decoration:none;}
html {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #212121;
  -webkit-font-smoothing: subpixel-antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* img and data-src along with JS create image fade in on load */
img {
  display: block;
  opacity: 1;
  transition: opacity 0.4s;
}
img[data-src] {
  opacity: 0;
}

/* ----------- General Styles ----------- */
h1, h2, h3, h4, p {
  margin: 1em 0;
  line-height: 1.4em;
}
h1, h2, h3, h4, figcaption {
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 0.875px;
}
p {
  font-size: 0.875em;
  text-indent: 1em;
}
hr {
  border-bottom: 1px solid #BCBCBC;
  width: 80%;
  margin: 2em auto;
}
a {
  color: inherit;
  text-decoration: inherit;
}
/* ----------- End General Styles ----------- */

/* ----------- Mobile First ----------- */

/* ----------- Header ----------- */
header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1px 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  position: fixed;
  background-color: white;
  z-index: 10;
}
header strong {
  font-weight: 700;
}
nav#navigation, div#icon, div#header-image {
  height: 75px;
  width: 75px;
  margin: 0 1px;
}
nav#navigation {
  background-color: #2274A5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  color: #2274A5;
  cursor: pointer;
}
nav#navigation.open {
  background-image: url("../images/menu-icon-open.svg");
}
nav#navigation.close {
  background-image: url("../images/menu-icon-close.svg");
}
nav#navigation #nav-menu {
  position: absolute;
  transition-duration: 1s;
  height: calc(100vh - 75px);
  z-index: 9;
  top: calc(100% + 1px);
  width: 100%;
}
nav#navigation.open #nav-menu {
  left: -80%;
}
nav#navigation.close #nav-menu {
  left: 0;
}
nav#navigation #nav-menu > ul {
  display: block;
  background-color: #2274A5;
  color: #FEEA3B;
  font-weight: 700;
}
nav#navigation #nav-menu > ul {
  width: 70%;
  border-right: solid 4px #FEEA3B;
  height: 100%;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.25em;
}
nav#navigation ul li {
  margin: 0 2em;
  border-bottom: 1px solid #FEEA3B;
  padding: 0.875em 0;
}
nav#navigation ul li > ul { 
  display: none;
}
nav#navigation ul li:last-of-type {
  border-bottom: none;
}
nav#navigation a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
div#icon {
  background-image: url("../images/icon-jonhagopian.jpg");
  background-size: contain;
}
#header-image {
  background-color: #FEEA3B;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
#header-image img {
  display: none;
}
div#header-image #logo {
  font-size: 1em;
  line-height: 75px;
  display: inline;
  margin-left: 1em;
  color: #2274A5;
}
div#header-image #logo strong {
  font-weight: bold;
}
/* ----------- End Header ----------- */

/* ----------- Main Body Columns ----------- */
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 75px;
}
main strong {
  font-weight: 700;
}
main article {
  position: relative;
}
article#left-column {
  padding: 0 1em;
}
article#right-column {
}
article#full-column {
  padding: 0 2em;
}
section#main-content {
}
/* ----------- End Main Body Columns ----------- */

/* ----------- Item Grid Body Rows ----------- */
.item-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.item-grid figure {
}
.item-grid figure img {
  width: 100%;
}
.item-grid figcaption {
  font-size: 0.875em;
  line-height: 2em;
  margin: 1em 0 2em 0;
  text-align: right;
}
/* ----------- End Item Grid Body Rows ----------- * /

/* ----------- Item Detail Page ----------- */
.img-overlay {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 90;
	background-color:rgba(0, 0, 0, 0.5);
}
.img-overlay-box {
	position: absolute;
	width: 90%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 91;
	box-shadow: 0 0 30px 0 rgba(0,0,0,50);
}
.img-overlay-btns {
	font-weight: bold;
	position: absolute;
	line-height: 1.5em;
	font-size: 1.5em;
	border-radius: 0.75em;
	width: 1.5em;
	text-align: center;
	background-color: #FEEA3B;
	color: #2274A5;
}
.img-overlay-left div {
	top: calc(50% - 0.75em);
	left: -0.75em;
}
.img-overlay-right div {
	top: calc(50% - 0.75em);
	right: -0.75em;
}
.img-overlay-close {
	z-index: 94;
	top: -0.5em;
	right: -0.5em;
	cursor: pointer;
}
.img-overlay-left, .img-overlay-right {
	position: absolute;
	z-index: 93;
	cursor: pointer;
	top: 0;
	height: 100%;
	line-height: 100%;
}
.img-overlay-left {
	width: 50%;
	left: 0;
}
.img-overlay-right {
	width: 50%;
	right: 0;
}
.img-overlay img {
	display: none;
	width: 100%;
}
.overlayLink {
	cursor: pointer;
}
/* ----------- End Item Detail Page ----------- */

/* ----------- Image Slider ----------- */
.img-slider {
  padding: 2em 0 2em 1em;
  margin-bottom: 2em;
  background-color: #F2F2F2;
}
/* ----------- End Image Slider ----------- */

/* ----------- Global Footer ----------- */
footer#global-footer {
  color: #212121;
  border-top: 1px solid #BCBCBC;
  text-align: center;
  line-height: 2;
  font-size: 0.875em;
}
footer#global-footer a {
  color: inherit;
  text-decoration: none;
}
/* ----------- End Global Footer ----------- */

/* ----------- Page Specific Styles ----------- */
#home h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 2em 0;
  line-height: 1.5;
}
/* ----------- End Page Specific Styles ----------- */

/* ----------- End Mobile First ----------- */





























/* ----------- iPad Standard Portrait to Large Desktop displays ----------- */
@media only screen and (min-width: 767px) {
/* ----------- Header ----------- */
  header {
    flex-flow: row wrap;
  }
  nav#navigation, div#icon, div#header-image {
    height: 160px;
    width: 160px;
    margin: 0 1px;
  }
  nav#navigation {
    background: #FEEA3B;
    border-top: 1px solid white;
    flex-basis: 100%;
    order: 3;
    height: auto;

  }
  nav#navigation.close {
    visibility: hidden;
  }
  nav#navigation.open #nav-menu , nav#navigation.close #nav-menu {
    left: auto;
  }
  nav#navigation #nav-menu {
    position: static;
    top: auto;
    height: auto;
    transition-duration: 0;
  }
  nav#navigation #nav-menu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-right: none;
    background: none;
    color: #2274A5;
    box-shadow: none;
    font-size: 1em;
    font-weight: normal;
  }
  nav#navigation ul > li {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  nav#navigation ul > li:first-of-type {
    padding-left: 0.875em;
  }
  nav#navigation a {
    display: block;
    margin: 0.50em 0;
    padding: 0 0.875em;
    text-decoration: none;
    color: inherit;
    transition-duration: 400ms;
  }
  nav#navigation #nav-menu > ul > li > a {
    border-right: 1px solid #2274A5;
  }
  nav#navigation #nav-menu > ul > li:last-of-type > a {
    border-right: 0;
  }
  nav#navigation a:hover {
    color: #165478;
  }
    /* ----------- Drop Down Navigation ----------- */
  nav#navigation ul li > ul {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #FEEA3B;
    margin-left: -0.875em;
    font-size: 0.75em;
  }
  nav#navigation ul li > ul li {
    border-right: none;
    margin: 0;
    padding: 0 1em;
    
  }
  nav#navigation ul li:hover > ul {
    display: flex;
  }
    /* ----------- End Drop Down Navigation ----------- */
  #header-image {
    background-color: #2274A5;
  }
  #header-image div.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.4) 100%); /* modern browser compatible */ 
  }
  #header-image img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition-duration: 4s;
    opacity: 0;
  }
  div#header-image #logo {
    display: block;
    font-size: 1.875em;
    color: white;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    line-height: inherit;
    margin-left: 0;
    z-index: 3;
  }

/* ----------- End Header ----------- */

/* ----------- Main Body Columns ----------- */
  main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: calc(3.25em + 160px) 0 0.25em 0;
  }
  article#left-column {
    width: 60%;
  }
  article#right-column {
    width:  30%;
    height: calc(100vh - 6.875em - 160px);
    border: none;
    margin: 0;
    padding: 0;
  }
  article#full-column {
    width: 100%;
  }
  section#main-content {
    width: 100%;
  }
/* ----------- End Main Body Columns ----------- */

/* ----------- Item Grid Body Rows ----------- */
.item-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item-grid figure {
  width: 250px;
  height: 179px;
  margin: 0 2em 0.50em 2em;
  border-radius: 0.75em;
  overflow: hidden;
}
.item-grid figure img {
  width: auto;
}
.item-grid figcaption {
  font-size: 0.875em;
  margin: 0 2em 3em 2em;
  text-align: center;
}
/* ----------- End Item Grid Body Rows ----------- * /

/* ----------- Item Detail Page ----------- */
.img-overlay-box {
  width: 70%;
}
/* ----------- End Item Detail Page ----------- */

/* ----------- Image Slider ----------- */
  .img-slider {
    padding: 2em 0;
    background: none;
  }
/* ----------- End Image Slider ----------- */

/* ----------- Global Footer ----------- */
  footer#global-footer {

  }
/* ----------- End Global Footer ----------- */

/* ----------- Page Specific Styles ----------- */
  #home h1 {
    margin: 3em 0;
    line-height: 1.75;
  }
/* ----------- End Page Specific Styles ----------- */
}
/* ----------- End iPad Standard Portrait to Large Desktop displays ----------- */




/* ----------- Miscellaneous Styling ----------- */

/* ----------- If screen is too big for header image ----------- */
@media only screen and (min-width: 1440px) {
  #header-image img, #header-image div.overlay {
    height: auto;
    width: 100%;
  }
}
/* ----------- End If screen is too big for header image ----------- */

/* ----------- End Miscellaneous Styling ----------- */