@charset "UTF-8";
* {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;line-height:inherit;letter-spacing:inherit;list-style:none;text-decoration:none;}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #212121;
  -webkit-font-smoothing: subpixel-antialiased;
}
html, body {
  max-width: 1400px;
  margin: 0 auto;
}
/* img and data-src along with JS create image fade in on load */
img {
  display: block;
  opacity: 1;
  transition: opacity 0.4s;

}
img[data-src] {
  opacity: 0;
}

/* ----------- General Styles ----------- */
  /* Heading should be defined only once */
h1 {
  margin: 1em 0;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}
h2 {
  margin: 1em 0;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}
h3 {
  margin: 1em 0;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: 700;
}
h4 {
  margin: 1em 0;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: 700;
}
p {
  margin: 1em 0;
  line-height: 1.5em;
}
li {
  line-height: 1.5;
}
figcaption {
  font-family: 'Roboto Slab', serif;
}
p {
  font-size: 1em;
}
hr {
  border-bottom: 1px solid #BCBCBC;
  width: 80%;
  margin: 2em auto;
}
blockquote {
  margin: 0 2em;
  font-size: 0.875em;
  font-style: italic;
  color: #BCBCBC;
}
a {
  color: inherit;
  text-decoration: inherit;
}
label, input, textarea {
  display: block;
}
input, textarea {
  border: 1px solid #BCBCBC;
  padding: 0.25em 1em;
}
button {
  cursor: pointer;
}
.underline {
  border-bottom: 1px solid #BCBCBC;
}
/* ----------- End General Styles ----------- */

/* ----------- Mobile First ----------- */

/* ----------- Header ----------- */
header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1px 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  position: fixed;
  background-color: white;
  z-index: 10;
}
header strong {
  font-weight: 700;
}
#navigation, #icon, #header-image {
  height: 75px;
  width: 75px;
  margin: 0 1px;
}
#navigation {
  background-color: #2274A5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  color: #2274A5;
  cursor: pointer;
}
#navigation.open {
  background-image: url("../images/menu-icon-open.svg");
}
#navigation.close {
  background-image: url("../images/menu-icon-close.svg");
}
#navigationBtn {
  position: absolute;
  z-index: 8;
  width: inherit;
  height: inherit;
  cursor: pointer;
}
.close #navigationBtn {
  width: 100vw;
  height: 100vh;
}
#nav-menu {
  position: absolute;
  transition: 400ms ease-in-out;
  height: calc(100vh - 75px);
  z-index: 9;
  top: calc(100% + 1px);
  width: 70%;
}
.open #nav-menu {
  left: -100%;
}
.close #nav-menu {
  left: 0;
}
#nav-menu > ul {
  display: block;
  background-color: #2274A5;
  color: #FEEA3B;
  font-weight: 700;
}
#nav-menu > ul {
  border-right: solid 4px #FEEA3B;
  height: 100%;
  box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.25em;
}
#navigation ul li {
  margin: 0 2em;
  border-bottom: 1px solid #FEEA3B;
  padding: 0.875em 0;
}
#navigation ul li > ul { 
  display: none;
}
#navigation ul li:last-of-type {
  border-bottom: none;
}
#navigation a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
#icon {
  background-image: url("../images/icon-jonhagopian.jpg");
  background-size: contain;
}
#header-image {
  background-color: #FEEA3B;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
#header-image img {
  display: none;
}
#logo {
  font-size: 1em;
  line-height: 75px;
  display: inline;
  margin-left: 1em;
  color: #2274A5;
  -webkit-font-smoothing: antialiased; /* font smoothing issue when in front of trans elem */
}
#logo strong {
  font-weight: bold;
}
/* ----------- End Header ----------- */

/* ----------- Main Body Columns ----------- */
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: calc(75px + 1em);
}
main a {
  color: #2274A5;
}
main a:hover {
  color: #165478;
}
main strong {
  font-weight: 700;
}
main article {
  position: relative;
}
article.left-column::-webkit-scrollbar, article.right-column::-webkit-scrollbar {
  display: none;
}
article.left-column::-moz-scrollbar, article.right-column::-moz-scrollbar {
  display: none;
}
article.left-column {
  padding: 0 1em;
}
article.right-column {
}
article.full-column {
  padding: 0 2em;
}
/* ----------- End Main Body Columns ----------- */

/* ----------- Item Grid Body Rows ----------- */
.item-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* ----------- End Item Grid Body Rows ----------- * /

/* ----------- Item Detail Page ----------- */
.img-overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.5);
}
.img-overlay-box {
  position: absolute;
  left: 5%;
  width: 90%;
  margin-left: 0;
  /* top, height and margin-top rendered dynamically via imageOverlay.js */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 91;
  background-color: black;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 50);
}
.img-overlay-btns {
  font-weight: bold;
  position: absolute;
  line-height: 1.5em;
  font-size: 1.5em;
  border-radius: 0.75em;
  width: 1.5em;
  text-align: center;
  background-color: #FEEA3B;
  color: #2274A5;
}
.img-overlay-left, .img-overlay-right {
  width: 2em;
  position: absolute;
  z-index: 93;
  cursor: pointer;
  top: 0;
  bottom: 0;
}
.img-overlay-left {
  left: 0;
}
.img-overlay-right {
  right: 0;
}
.img-overlay-left .img-overlay-btns {
  top: 50%;
  left: 0.25em;
}
.img-overlay-right .img-overlay-btns {
  top: 50%;
  right: 0.25em;
}
.img-overlay-close {
  z-index: 94;
  top: 1em;
  right: 1em;
  cursor: pointer;
  position: fixed;
}
.img-overlay img, .img-overlay iframe {
  display: none;
  width: 100%;
}
.overlayLink {
  cursor: pointer;
}
#project-description {
  margin-top: 2em;
}
.item-description p {
  text-indent: 0.50em;
  margin: 0.5em 0;
}
.item-description ul {
  padding-left: 1.5em;
}
.item-description ul li {
  margin: 0.5em 0;
}
.item-description ul li:before {
  content: "-";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.item-subhead {
  display: flex;
  flex: row flex-start;
  margin-top: -1em;
  margin-bottom: 2em;
}
.item-client {
  width: 50%;
}
.item-date {
  width: 50%;
  margin-right: auto;
  text-align: right;
}
/* ----------- End Item Detail Page ----------- */

/* ----------- Home Page ----------- */
#home h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.75;
  text-align: center;
}
#home .left-column {
  padding: 0 1em;
  text-indent: 0.50em;
}
/* ----------- End Home Page ----------- */

/* ----------- Resume Page ----------- */
#resume-full {
  padding-bottom: 4em;
}
#resume h3, #resume h4 {
  margin-bottom: 0;
}
#resume h3 {
  display: flex;
}
#resume h3 > div:last-of-type {
  margin-left: auto;
}
#resume article p, #resume article ul {
  text-indent: 0;
  margin: 0;
}
#resume article b {
  font-weight: 700;
}
#resume article ul {
  padding-left: 1.3em;
}
#resume article ul li {
  list-style-type: disc;
}
#download-link {
  float: right;
}
/* ----------- End Resume Page ----------- */

/* ----------- Contact Page ----------- */
body .tycopy {
  display: none;
}
body.thankyou .tycopy {
  display: block;
}
body.thankyou #contact-form {
  display: none;
}
#contact .right-column {
  order: 1;
  padding: 0 1em;
}
#contact .left-column {
  order: 2;
}
#contact form label {
  font-weight: bold;
}
#contact .right-column p > span {
  display: block;
  font-weight: 700;
  width: 100%;
}
#contact .right-column a {
  margin-left: 1em;
}
#contact .right-column a:hover {
  color: #165478;
}
#contact .left-column input {
  width: 100%;
}
#contact .left-column textarea {
  width: 100%;
  height: 14em;
}
#contact button {
  line-height: 3em; 
  padding: 0 2em;
  border: 1px solid #BCBCBC;
  border-radius: 0.50em;
  margin-right: 1em;
  background-color: white;
  transition: 400ms ease-in-out;
  color: #2274A5;
}
#contact button:hover {
  color: #165478;
}
#contact .submit {
  font-weight: 700;
}
#contact blockquote {
  margin-bottom: 2em;
}
/* ----------- End Contact Page ----------- */

/* ----------- Global Footer ----------- */
#global-footer {
  color: #212121;
  border-top: 1px solid #BCBCBC;
  text-align: center;
  line-height: 2;
  font-size: 0.875em;
  height: 30px;
}
#global-footer a {
  color: inherit;
  text-decoration: none;
  color: #2274A5;
}
#global-footer a:hover {
  color: #165478;
}
/* ----------- End Global Footer ----------- */

/* ----------- End Mobile First ----------- */





























/* ----------- iPad Portrait to Large Desktop displays ----------- */
@media only screen and (min-width: 767px) {
/* ----------- Header ----------- */
  header {
    flex-flow: row wrap;
    left: 0;
    right: 0;
  }
  #navigation, #icon {
    height: 160px;
    width: 160px;
    margin: 0 1px;
  }
  #header-image {
    height: 160px;
    margin: 0 1px;
  }
  #navigation {
    background: #FEEA3B;
    border-top: 1px solid white;
    flex-basis: 100%;
    order: 3;
    height: auto;
  }
  #navigation.close {
    visibility: hidden;
  }
  #navigation.open #nav-menu , #navigation.close #nav-menu {
    left: auto;
  }
  #navigationBtn {
    display: none;
  }
  #navigation #nav-menu {
    position: static;
    top: auto;
    height: auto;
    transition-duration: 0;
  }
  #navigation #nav-menu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-right: none;
    background: none;
    color: #2274A5;
    box-shadow: none;
    font-size: 1em;
    font-weight: normal;
  }
  #navigation ul > li {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  #navigation ul > li:first-of-type {
    padding-left: 0.875em;
  }
  #navigation a {
    display: block;
    margin: 0.50em 0;
    padding: 0 0.875em;
    text-decoration: none;
    color: inherit;
    transition-duration: 400ms;
  }
  #navigation #nav-menu > ul > li > a {
    border-right: 1px solid #2274A5;
  }
  #navigation #nav-menu > ul > li:last-of-type > a {
    border-right: 0;
  }
  #navigation a:hover {
    color: #165478;
  }
  /* Drop Down Navigation */
  #navigation ul li > ul {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #FEEA3B;
    margin-left: -0.875em;
    font-size: 0.75em;
  }
  #navigation ul li > ul li {
    border-right: none;
    margin: 0;
    padding: 0 1em;
    
  }
  #navigation ul li:hover > ul {
    display: flex;
  }
  /* End Drop Down Navigation */
  #header-image {
    background-color: #2274A5;
  }
  #header-image div.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.4) 100%); /* modern browser compatible */ 
  }
  #header-image img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition-duration: 4s;
    opacity: 0;
  }
  #header-image #logo {
    display: block;
    font-size: 1.875em;
    color: white;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    line-height: inherit;
    margin-left: 0;
    z-index: 3;
  }
/* ----------- End Header ----------- */

/* ----------- Main Body Columns ----------- */
  main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: calc(2.675em + 160px) 0 0 0;
  }
  article.left-colum, article.right-column {
    height: calc(100vh - 3em - 190px);
  }
  article.left-column {
    width: 65%;
    padding: 0 4em 0 4em;
    overflow: scroll;
  }
  article.right-column {
    width:  35%;
    border: none;
    margin: 0;
    padding: 0 2em 0 1em;
    background-color: #f2f2f2;
  }
  article.full-column {
    width: 100%;
  }
  section {
    width: 100%;
  }
/* ----------- End Main Body Columns ----------- */

/* ----------- Home Page ----------- */
  #home h1 {
    text-indent: 1em;
  }
/* ----------- End Home Page ----------- */

/* ----------- Item Grid Body Rows ----------- */
  .item-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item-grid figure {
    width: 250px;
    height: 179px;
    margin: 0 2em 0.50em 2em;
    overflow: hidden;
    border-radius: 0;
  }
  .item-grid figure img {
    width: auto;
  }
  .item-grid figcaption {
    font-size: 0.875em;
    margin: 0 2em 3em 2em;
    text-align: center;
  }
  .item-grid figure {
    border: 1px solid #BCBCBC;
  }
  .item-grid .iframe {
    background-color: #272922;
  }
/* ----------- End Item Grid Body Rows ----------- * /

/* ----------- Item Detail Page ----------- */
  .img-overlay-box {
    position: absolute;
    left: 50%;
    width: 70%;
    margin-left: -35%;
  }
  .img-overlay-left {
    left: 13%;
  }
  .img-overlay-right {
    right: 13%;
  }
/* ----------- End Item Detail Page ----------- */

/* ----------- Home Page ----------- */
  #home h1 {
    margin: 3em 3.5em;
    line-height: 2;
    text-align: center;
  }
/* ----------- End Home Page ----------- */

/* ----------- Resume Page ----------- */
  #resume #resume-full {
    padding-left: 2em;
    padding-right: 2em;
  }
/* ----------- End Resume Page ----------- */

/* ----------- Contact Page ----------- */
  #contact .right-column {
    order: 2;
  }
  #contact .left-column {
    order: 1;
  }
  #contact .right-column p {
    margin-bottom: 2em;
  }
  #contact .left-column input {
    width: auto;
    min-width: 20em;
  }
  #contact .left-column #subject {
    width: 100%;
  }
/* ----------- End Contact Page ----------- */

}
/* ----------- End iPad Portrait to Large Desktop displays ----------- */




/* ----------- Miscellaneous Styling ----------- */

/* ----------- If screen is too BIG for header image ----------- */
@media only screen and (min-width: 1440px) {
  #header-image img, #header-image div.overlay {
    height: auto;
    width: 100%;
  }
}
/* ----------- End If screen is too BIG for header image ----------- */

/* ----------- End Miscellaneous Styling ----------- */