/* --------------------------------------------------------------
    Item Detail Page
--------------------------------------------------------------- */
// Mobile First
.img-overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.5);
}
.img-overlay-box {
  position: absolute;
  left: 5%;
  width: 90%;
  margin-left: 0;
  /* top, height and margin-top rendered dynamically via imageOverlay.js */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 91;
  background-color: black;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 50);
}
.img-overlay-btns {
  line-height: 30px;
  font-size: 22px;
  border-radius: 15px;
  width: 30px;
  font-weight: $font-weight-bold;
  position: absolute;
  text-align: center;
  background-color: $color-yellow;
  color: $color-blue;
}
.img-overlay-left, .img-overlay-right {
  width: 2em;
  position: absolute;
  z-index: 93;
  cursor: pointer;
  top: 0;
  bottom: 0;
}
.img-overlay-left {
  left: 0;
}
.img-overlay-right {
  right: 0;
}
.img-overlay-left .img-overlay-btns {
  top: 50%;
  left: 0.25em;
}
.img-overlay-right .img-overlay-btns {
  top: 50%;
  right: 0.25em;
}
.img-overlay-close {
  z-index: 94;
  top: -15px;
  right: -15px;
  cursor: pointer;
  position: absolute;
}
.img-overlay {
  img {
    display: none;
    width: 100%;
  }
  iframe {
    display: none;
  }
}
.overlayLink {
  cursor: pointer;
}
.item-description {
  padding-bottom: 0;
  ul li {
    margin: 0.5em 0;
  }
}
.iframeSampleCode {
  width: 100%;
}
.nav-post-description {
  display: none;
}
.nav-post-gallery {
  display: block;
  margin-bottom: 4em;
  .btn-std {
    display: block;
    margin: 0 auto;
    background-color: $color-blue;
    color: $color-yellow;
  }
}
// End Mobile
//
// Begin Desktop
@media only screen and (min-width: 767px) {
  .img-overlay-box {
    position: absolute;
    left: 50%;
    width: 70%;
    margin-left: -35%;
  }
  .img-overlay-box::-webkit-scrollbar {
    display: none;
  }
  .img-overlay-left {
    left: 13%;
  }
  .img-overlay-right {
    right: 13%;
  }
  .item-description {
    padding-bottom: 4em;
  }
  .img-overlay-btns {
    line-height: 40px;
    font-size: 30px;
    border-radius: 20px;
    width: 40px;
  }
  .img-overlay-close {
    top: -20px;
    right: -20px;  }
  .nav-post-description {
    display: block;
    margin: 2em 0;
    text-align: center;
  }
  .nav-post-description {
    .btn-txt {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      cursor: pointer;
      color: $color-gray;
      transition-duration: 200ms;
      &:hover {
        color: $color-light-gray;
      }
    }
  }
  .nav-post-gallery {
    display: none;
  }
}
// End Desktop
/* --------------------------------------------------------------
    End Item Detail Page
--------------------------------------------------------------- */