/* --------------------------------------------------------------
    Item Grid Body Rows
--------------------------------------------------------------- */
// Mobile First
.item-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
// End Mobile
//
// Begin Desktop
@media only screen and (min-width: 767px) {
  .item-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    figure {
      width: 250px;
      height: 179px;
      margin: 0 2em 0.50em 2em;
      overflow: hidden;
      border-radius: 0;
      border: 1px solid $color-border;
    }
    figure img {
      width: 100%;
      height: auto;
    }
    figcaption {
      font-size: 0.875em;
      margin: 0 2em 3em 2em;
      text-align: center;
    }
  }
}
// End Desktop
/* --------------------------------------------------------------
    End Item Grid Body Rows
--------------------------------------------------------------- */