/* --------------------------------------------------------------
    Resume Page
--------------------------------------------------------------- */
// Mobile First
#resume section h3, #resume section h4 {
  margin-bottom: 0;
  font-size: 1.125em;
}
#resume section h3 {
  display: flex;
}
#resume section h3 > div:last-of-type {
  margin-left: auto;
}
#resume section p, #resume section ul {
  margin-left: 1em;
}
#resume section p, #resume section ul li {
  text-indent: 0;
  margin: 0;
}
#resume section b {
  font-weight: $font-weight-bold;
}
#resume section ul {
  padding-left: 1.3em;
}
#download-link {
  float: right;
  margin-top: -3em;
}
// End Mobile
//
// Begin Desktop
// No styles here
// End Desktop
/* --------------------------------------------------------------
    End Resume Page
--------------------------------------------------------------- */