/* --------------------------------------------------------------
    Styles for jonhagopian.com 2017, compiled with Sass.
    See imageParallax.scss
--------------------------------------------------------------- */
@import "mixins";
@import "variables";
// Begin Mobile
.img-parallax {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0 1em 1em;
  margin-bottom: 2em;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &.justified {
    justify-content: center;
  }
  figure {
    width: calc(66.6% - 1em);
    overflow: hidden;
    flex: 0 0 auto;
    margin: 15px 1.875rem 15px 0; // match shadow prevent cutoff
    position: relative;
    background-color: white;
    @include shadow-outset();
  }
  .aspect-ratio {
    width: 100%;
    padding-top: 75%; // 4:3 Aspect Ratio
  }
  figure img {
    // negative stretch child larger then parent for parallax effect
    position: absolute;
    width: 128%;
    height: 128%;
    top: -14%;
    left: -14%;
  }
  .iframe {
    background-color: #272922; 
  }
}
.item-grid figure {
  position: relative;
}
#items-list .img-parallax {
  background-color: unset;
  figcaption {
    margin: 0.5em 1em 1em 0;
    text-align: right;
  }
}
// Full Height Mobile Column
#category-results .img-parallax {
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  figure {
    width: 100%;
    border-radius: 0;
    border: 1px solid #BCBCBC;
  }
  figcaption {
    margin-bottom: 4em;
  }
  figure img {
    transition: all 200ms;
    // negative stretch child larger then parent for parallax effect
    top: 0%;
  }
}
// End Full Height Mobile Column
//
// End Mobile
//
// Begin Desktop
@media only screen and (min-width: 767px) {
  .img-parallax {
    height: 100%;
    overflow-x: visible;
    overflow-y: scroll;
    flex-direction: column;
    padding: 3em;
    &::-webkit-scrollbar {
      display: none;
    }
    figure {
      width: 100%;
      height: auto; // Height calc via JS
      margin-right: 0;
      margin-bottom: 2em;
      flex: 0 0 auto;
    }
    figure img {
      // negative stretch child larger then parent for parallax effect
      width: 128%;
      height: 128%;
      top: 0%;
      left: -14%;
    }
  }
}
// End Desktop