<header>
  <nav id="navigation" role="navigation" class="open">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="#">portfolio</a>
        <ul>
        <% projectsArr.forEach(function(item) { %>
          <li><a href="/projects/<%= item.shortname %>"><%= item.title %></a></li>
        <% }); %>
        </ul>
      </li>
      <li><a href="#">skills</a></li>
      <li><a href="#">resume</a></li>
      <li><a href="#">interests</a></li>
      <li><a href="#">contact</a></li> 
    </ul>
  </nav>
  <div id="icon">
    <!-- photo icon -->
  </div>
  <div id="header-image">
    <div id="logo">
    	<a href="/">
      	<strong>jonhagopian</strong>.com
    	</a>
    </div>
    <div class="overlay"></div>
  </div>
</header>