<nav id="navigation" class="open" style="display: none;">
  <div id="navigationBtn"></div>
  <div id="nav-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/portfolio/">Portfolio</a>
        <ul>
          <li class="caret"><!-- caret up --></li>
        <% projectsArr.forEach(function(item) { %>
          <li><a href="/projects/<%= item.shortname %>"><%= item.title %></a></li>
        <% }); %>
        </ul>
      </li>
      <li><a href="/resume/">Resume</a></li>
      <li><a href="/about-me/">About Me</a></li>
      <li><a href="/contact/">Contact</a></li> 
    </ul>
  </div>
</nav>
<div id="icon">
  <!-- photo icon -->
</div>
<div id="header-image">
  <div id="logo">
  	<a href="/">
    	jonhagopian<span>.com</span>
  	</a>
  </div>
  <div class="overlay"></div>
</div>