<header>
  <nav id="navigation" role="navigation" class="open">
    <ul>
      <li><a href="/" target="_blank">home</a></li>
      <li><a href="#" target="_blank">portfolio</a></li>
      <li><a href="#" target="_blank">skills</a></li>
      <li><a href="#" target="_blank">resume</a></li>
      <li><a href="#" target="_blank">interests</a></li>
      <li><a href="#" target="_blank">contact</a></li> 
    </ul>
  </nav>
  <div id="icon">
    <!-- photo icon -->
  </div>
  <div id="header-image">
    <div id="logo">
      <strong>jonhagopian</strong>.com
    </div>
  </div>
</header>