<meta charset="utf-8">
<title><%= siteTitle %><%= pageTitle %></title>
<% include ../content/favicon.ejs %>
<meta name="robots" content="index, follow">
<meta name="description" content="Jon Hagopian's online Web Developer Portfolio and Resume">
<meta name="author" content="Jon Hagopian">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/imageParallax.css" rel="stylesheet" type="text/css">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:400,400i,700" rel="stylesheet">
<script type="text/javascript" id="varFromApp">
  var defaultResources = "<%= defaultResources %>"; // sets resource path for CDN
  var hdrImgArr = <%- JSON.stringify(hdrImgArr) %>; // header images from json data file
</script>
<script src="/js/main.js" type="text/javascript"></script>
<script async src="/js/imageParallax.js" type="text/javascript"></script>
<script async src="/js/headerImage.js" type="text/javascript"></script>
<% if (defaultResources === "") { %>
  <script src="/reload/reload.js" type="text/javascript"></script>
<% } %>