<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID %>" class="<%= pageVer %>">
    <header>
      <% include includes/template/header.ejs %>
    </header>
    <main>
      <article>
        <section id="contact-input" class="left-column">
          <h1 class="underline"><%= pageTitle %></h1>
          <p>Page on hold due to an annoying spam attack. I'll update shortly. Please search and contact via LinkedIn. Thanks!</p>
        </section>
        <section id="contact-links" class="right-column">
          <!-- Removed Links for security purposes, see past git commit to recall -->
        </section>
      </article>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>