<!doctype html>

<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body>
    <% include includes/template/header.ejs %>
    <main>
      <article id="left-column">
        <section id="main-content">
          <h1><strong>Web Developer</strong> with experience in ecommerce websites, marketing micro-sites and ads, taking creatives from clients to functional web entities. Experience includes leading large initiatives, managing offshore talent, client expectations, directing workflow and debugging. Notable skills are an eye for creative layout while coding for reusability, simplicity and speed. I enjoy solving problems in an elegant streamlined fashion while learning new technologies and techniques.</h1>
          <hr>
        </section>
      </article>
      <article id="right-column">
        <div class="image-slider">
          <figure class="image-slide">
            <img src="images/gallery-test/banff1.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff2.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff3.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff4.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff5.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff6.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff7.jpg">
          </figure>
          <figure class="image-slide">
              <img src="images/gallery-test/banff8.jpg">
          </figure>
        </div>
      </article>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>