<!doctype html>
<% include includes/template/signature.ejs %>
<html lang="en">

  <head>
    <% include includes/template/head.ejs %>
  </head>

  <body id="<%= pageID %>">
    <% include includes/template/header.ejs %>
    <main>
      <article id="resume" class="full-column">
        <section id="resume-full">
          <a id="download-link" href="https://www.dropbox.com/s/69x7nu3s790z5bp/resume-jonhagopian.pdf?dl=0">&#8615; Download pdf</a>
          <h1 class="underline"><%= pageTitle %></h1>
          <h3>Summary</h3>
          <p>Web Developer with experience creating JavaScript libraries, e-commerce websites, marketing micro-sites and ads while directing workflow and debugging on-call issues. Developed solutions for clients creative layout using an eye for aesthetics, while striving for streamlined reusable code. Teamwork and great interpersonal skills complement my diverse skillset and project history.</p>
          <h3>Technical and Design Skills:</h3>
          <p><b>Web Developer:</b> HTML5, CSS3, JavaScript, jQuery, Apache Velocity, Flexible/Mobile Design, Node.js, AngularJS, PHP, mySQL. ApplePay, Android Pay, IDE(eclipse) and GitHub, basic Amazon AWS. Video Editing and Optimization.</p>
          <p><b>Creative:</b> Sketch, Photoshop and Illustrator.</p>
          <h3>Professional Experience:</h3>
          <h3><div>Time Inc. NY, NY</div><div>2004 &ndash; 2017</div></h3>
          <h4>Web Developer, 2013 &ndash; 2017</h4>
          <p>Developed various projects alongside marketing team and backend talent for all Time brands including People, SportsIllustrated, Entertainment Weekly, InStyle and Time. Efforts included project lead for many high visibility initiatives. On call for quick turnaround of edits, content updates and bug fixes. Trained and mentored of offshore talent and new hires.</p>
          <ul>
            <li>Co-developed easy to read and quick to implement JavaScript and CSS libraries for both ApplePay and Android Pay for deployment to our templated and non templated order forms.</li>
            <li>Developed banner ad library for function standardization, speeding up development time by 75% while solving for cross browser and iframe compatibility issues. Enabling offshore developers to quickly get ad spots up and running.</li>
            <li>Lead developer on the high profile People, Time and Entertainment Weekly e-commerce storefronts, including working with marketing and designers developing the front end integration with our elastic path storefront backend. This involved developing and improving UX and UI while adhering to the needs of marketing and designers all within the limitations of our backend commerce platform.</li>
            <li>Lead developer on both ApplePay and Android Pay order form front end integration, which involved a steep learning curve on both API’s, styles and backend integration.</li>
            <li>Created web ad animation such as expanding and layered units, and interactive offer navigation which helped lift click through rates.</li>
            <li>On call developer for debugging micro-sites and web ads for cross browser, cross device functionality for brands such as Sports Illustrated and Time for Kids.</li>
            <li>Coded order forms and ads for user interactivity, web analytics tracking, and e-commerce integration.</li>
            <li>Trained and mentored onshore and offshore team members in operational procedures, code library use and implementation, and coding techniques. Efforts resulted in increased team productivity and confidence.</li>
          </ul>
          <h4>Front End Developer, 2004 &ndash; 2012</h4>
          <p>Created cross-browser mobile friendly front end web assets for microsites, landing pages, and ad served banners and mini forms. Developing the HTML/CSS and JavaScript interactivity alongside art directors and marketing managers for all Time inc brands, including Fortune, Money, This Old House and Southern Living.</p>
          <ul>
            <li>Designed UI components, such as offer selection modules, form input sections, gift selection and interactive components for our online order forms for all brands.</li>
            <li>Consulted with marketing department to translate business objectives into web-friendly designs that were optimized for direct response marketing while adhering to web standards.</li>
            <li>Managed projects from post-design to web-ready, allocating resources as necessary in order to complete projects on schedule. Created adaptive/responsive pages and tested for cross-browser consistency.</li> 
            <li>Coded modular web components in HTML/CSS for order form integration.</li>
            <li>Managed and trained talent both in-office and offshore in order to maximize output and efficiency.</li>
          </ul>
          <h4>Freelance Web Design and Development, 2002 &ndash; 2016</h4>
          <p>Leveraged my skillset to deliver code, media files and full websites. Clients include Condé Nast, American Express, NewsMax, Wenner Publishing, Scientific American, Armenians in Banking &amp; Finance, Time 4 Media and Pearson Education.</p>
          <ul>
            <li>Designed (photoshop/illustrator) and developed (html/css) banners, order forms, pages, emails and multimedia projects, including adaptive/responsive emails and order forms. Performed testing for multiple platforms/email clients/browsers.</li>
            <li>Designed and developed dynamic websites using HTML/CSS, PHP and MySQL.</li>
          </ul>
          <h3><div>Pearson Education NJ</div><div>1999 &ndash; 2004</div></h3>
          <h4>Multimedia Designer</h4>
          <p>Designed interfaces and interactive content for Pearson’s business education titles.</p>
          <ul>
            <li>Created interactive multimedia content that complemented textbook material.</li>
            <li>Projects included video/audio testing, web based testing and interactive learning.</li> 
            <li>Storyboarded business concepts followed by animation using Adobe Flash.</li>
            <li>Email and Banner design using Photoshop and Illustrator.</li>
            <li>Video and Audio editing and web optimization.</li>
          </ul>
          <h3>Training</h3>
          <p>lynda.com: JavaScript, HTML5, CSS Flexbox, AngularJS and Node.js and many other classes to reinforce core skills.</p>
          <p>Workshops at codeacademy.com for Angular.JS, Node.js, command line, git and JavaScript.</p>
          <h3>Interests</h3>
          <p>Private Pilot, 2008 to present</p>
          <h3>Community Service</h3>
          <p>Organized community trash pickup</p>
          <p>Operations Manager and Board Member of our local youth swim team</p>
          <h3>Education</h3>
          <p>St. Thomas Aquinas, Bachelor of Science Degree, Graphic Design/Liberal Arts</p>
        </section>
      </article>
    </main>
    <% include includes/template/footer.ejs %>

  </body>

</html>